# 1. 시간별 유동인구 데이터 다운로드 및 전처리

In [1]:
import pandas as pd
import numpy as np

* 3년치(2016년 2월 ~ 2019년 2월) 데이터를 다운받기 위해 datetime array 생성

In [8]:
download_month = pd.period_range("2016-2", "2019-2", freq="M")
download_month

PeriodIndex(['2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07',
             '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01',
             '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07',
             '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01',
             '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07',
             '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01',
             '2019-02'],
            dtype='period[M]', freq='M')

In [28]:
gu_code = [26260, 26350]

* 문자열 format 함수로 url 문자열 생성

In [79]:
example_day = int(''.join(str(download_month[0]).split('-')))
example_code = gu_code[1]
file_url = "https://bigdata.busan.go.kr/sgis/gis/getTimeExcelDownload.do?date={date}&gunguCd={code}&gunguTxt=&time=&timeTxt=%ec%a0%84%ec%b2%b4"
#file_url = "https://bigdata.busan.go.kr/sgis/gis/getTimeExcelDownload.do?date={date}&gunguCd=&gunguTxt=%ec%a0%84%ec%b2%b4&time=&timeTxt=%ec%a0%84%ec%b2%b4"
file_url.format(date=example_day, code=example_code)

'https://bigdata.busan.go.kr/sgis/gis/getTimeExcelDownload.do?date=201602&gunguCd=26350&gunguTxt=&time=&timeTxt=%ec%a0%84%ec%b2%b4'

In [80]:
example_day

201602

In [81]:
example_code

26350

* url에서 dataframe으로 읽어들이기

In [82]:
example_df = pd.read_excel(file_url.format(date=example_day, code=example_code), header=2)
example_df.head(10)

,일자별,동별,평균,0시,1시,2시,3시,4시,5시,6시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,2016.02.01,우1동,57403,73987.0,69798.0,75006.0,74389.0,63016.0,45831.0,38010.0,...,50716.0,50431.0,49979.0,50202.0,49970.0,54293.0,60529.0,68152.0,76296.0,86316.0
1,NaN,우2동,53967,41532.0,41122.0,41107.0,34521.0,31262.0,36961.0,39184.0,...,69071.0,67045.0,64410.0,65778.0,64761.0,61632.0,60736.0,57472.0,57143.0,51651.0
2,NaN,중1동,32698,42411.0,45280.0,45227.0,45152.0,42578.0,25813.0,20924.0,...,29812.0,29273.0,28752.0,29148.0,28688.0,30704.0,34050.0,37657.0,41961.0,48198.0
3,NaN,중2동,10999,13277.0,14498.0,14402.0,15904.0,13734.0,9922.0,7811.0,...,9714.0,9767.0,9452.0,9198.0,9169.0,10091.0,11438.0,12390.0,13866.0,15168.0
4,NaN,좌1동,14362,16998.0,15336.0,20047.0,12998.0,11931.0,9121.0,9064.0,...,14373.0,14675.0,13859.0,13575.0,13297.0,14391.0,16076.0,18358.0,20515.0,21998.0
5,NaN,좌2동,26120,34132.0,34812.0,34626.0,35782.0,28914.0,21271.0,18069.0,...,22800.0,24362.0,23425.0,22684.0,23060.0,25404.0,27860.0,30816.0,34713.0,38885.0
6,NaN,좌3동,8458,9797.0,8538.0,9973.0,7906.0,7345.0,6124.0,5851.0,...,8116.0,8524.0,8146.0,8145.0,7976.0,8477.0,9121.0,10404.0,11360.0,11832.0
7,NaN,좌4동,21182,22796.0,19995.0,22563.0,16694.0,17756.0,15494.0,15264.0,...,21616.0,22339.0,21002.0,20924.0,20510.0,21862.0,23852.0,26663.0,28533.0,29521.0
8,NaN,송정동,11875,15678.0,15727.0,13409.0,13050.0,16381.0,9681.0,10192.0,...,12330.0,11394.0,10745.0,10561.0,10104.0,10057.0,11898.0,12809.0,12941.0,13614.0
9,NaN,반여1동,39448,35442.0,31271.0,31521.0,44031.0,61923.0,62921.0,47981.0,...,34780.0,34661.0,33818.0,34830.0,34958.0,36312.0,38714.0,39924.0,41140.0,41627.0

In [83]:
example_df.tail(20)

,일자별,동별,평균,0시,1시,2시,3시,4시,5시,6시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
549,NaN,재송2동,22339,24332.0,24604.0,25453.0,26979.0,34544.0,30624.0,23409.0,...,19508.0,18751.0,19369.0,18812.0,19848.0,20283.0,21231.0,21758.0,22363.0,22963.0
550,NaN,계,406285,459402.0,473261.0,453630.0,487567.0,484996.0,397544.0,352219.0,...,396529.0,384534.0,384588.0,377411.0,387785.0,394666.0,409145.0,410624.0,430081.0,441771.0
551,전체,우제1동 평균,65310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
552,NaN,우제2동 평균,54082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
553,NaN,중제1동 평균,38980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
554,NaN,중제2동 평균,11318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
555,NaN,좌제1동 평균,14130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
556,NaN,좌제2동 평균,25335,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
557,NaN,좌제3동 평균,8661,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
558,NaN,좌제4동 평균,20581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
559,NaN,송정동 평균,13090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
560,NaN,반여제1동 평균,35842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
561,NaN,반여제2동 평균,10881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
562,NaN,반여제3동 평균,6835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
563,NaN,반여제4동 평균,11859,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
564,NaN,반송제1동 평균,9433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
565,NaN,반송제2동 평균,17877,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
566,NaN,반송제3동 평균,6413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
567,NaN,재송제1동 평균,34046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
568,NaN,재송제2동 평균,22098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
example_df.shape

(569, 27)

* 데이터 끝부분에 각 구별 월평균 이동량이 있으나, 시간대별 데이터에서 평균 column은 의미가 없는것 같아 drop 했습니다.

In [85]:
example_df = example_df.drop(["평균"], axis=1)[:-18]
example_df.tail(10)

,일자별,동별,0시,1시,2시,3시,4시,5시,6시,7시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
541,NaN,반여1동,33342.0,30579.0,28834.0,39467.0,60257.0,57307.0,45990.0,35771.0,...,33053.0,31394.0,33261.0,32587.0,33849.0,33831.0,34856.0,32603.0,33008.0,33753.0
542,NaN,반여2동,11841.0,12398.0,13783.0,15172.0,16152.0,15598.0,12058.0,9413.0,...,8492.0,8186.0,8632.0,8217.0,8927.0,9393.0,10134.0,10641.0,10942.0,11343.0
543,NaN,반여3동,7594.0,8289.0,8358.0,9503.0,10120.0,9617.0,7783.0,5691.0,...,4948.0,4966.0,5246.0,5180.0,5527.0,5859.0,6451.0,6665.0,6775.0,7116.0
544,NaN,반여4동,11224.0,10912.0,9481.0,11828.0,18575.0,19494.0,16057.0,12419.0,...,11254.0,10813.0,11321.0,11231.0,11526.0,11359.0,11349.0,10951.0,11074.0,11458.0
545,NaN,반송1동,9450.0,9872.0,7129.0,11400.0,14661.0,15722.0,13306.0,9520.0,...,8345.0,8005.0,8272.0,8407.0,8658.0,8434.0,8763.0,8547.0,8607.0,8930.0
546,NaN,반송2동,16072.0,19155.0,17687.0,18869.0,21779.0,28723.0,24374.0,17375.0,...,16189.0,15812.0,15173.0,15063.0,16321.0,16679.0,17902.0,17258.0,16458.0,16400.0
547,NaN,반송3동,6913.0,7764.0,5314.0,9574.0,9971.0,9219.0,8386.0,5988.0,...,5735.0,5593.0,5619.0,5869.0,5924.0,6247.0,6405.0,6232.0,6316.0,6709.0
548,NaN,재송1동,36867.0,39035.0,33337.0,32134.0,35890.0,31231.0,28991.0,29188.0,...,37643.0,36947.0,37048.0,36437.0,38091.0,37227.0,37349.0,37442.0,37543.0,36975.0
549,NaN,재송2동,24332.0,24604.0,25453.0,26979.0,34544.0,30624.0,23409.0,20061.0,...,19508.0,18751.0,19369.0,18812.0,19848.0,20283.0,21231.0,21758.0,22363.0,22963.0
550,NaN,계,459402.0,473261.0,453630.0,487567.0,484996.0,397544.0,352219.0,305716.0,...,396529.0,384534.0,384588.0,377411.0,387785.0,394666.0,409145.0,410624.0,430081.0,441771.0

* 전치하여 시간축이 index, 각 구를 column으로 변환

In [86]:
example_df = example_df.set_index("동별").T.iloc[1:]
example_df.head()

동별,우1동,우2동,중1동,중2동,좌1동,좌2동,좌3동,좌4동,송정동,반여1동,...,반여1동,반여2동,반여3동,반여4동,반송1동,반송2동,반송3동,재송1동,재송2동,계
0시,73987,41532,42411,13277,16998,34132,9797,22796,15678,35442,...,33342,11841,7594,11224,9450,16072,6913,36867,24332,459402
1시,69798,41122,45280,14498,15336,34812,8538,19995,15727,31271,...,30579,12398,8289,10912,9872,19155,7764,39035,24604,473261
2시,75006,41107,45227,14402,20047,34626,9973,22563,13409,31521,...,28834,13783,8358,9481,7129,17687,5314,33337,25453,453630
3시,74389,34521,45152,15904,12998,35782,7906,16694,13050,44031,...,39467,15172,9503,11828,11400,18869,9574,32134,26979,487567
4시,63016,31262,42578,13734,11931,28914,7345,17756,16381,61923,...,60257,16152,10120,18575,14661,21779,9971,35890,34544,484996

* 컬럼명이 일 수 만큼 중복되므로 rename

In [87]:
num_gu =len(set(example_df.columns))
gu = example_df.columns[:num_gu]
days = len(example_df.columns)/num_gu
new_columns  =[np.array(gu) +str(i) for i in range(1,int(days)+1)]
new_columns = np.concatenate(new_columns, axis=0)
new_columns

array(['우1동1', '우2동1', '중1동1', '중2동1', '좌1동1', '좌2동1', '좌3동1', '좌4동1',
       '송정동1', '반여1동1', '반여2동1', '반여3동1', '반여4동1', '반송1동1', '반송2동1',
       '반송3동1', '재송1동1', '재송2동1', '계1', '우1동2', '우2동2', '중1동2', '중2동2',
       '좌1동2', '좌2동2', '좌3동2', '좌4동2', '송정동2', '반여1동2', '반여2동2', '반여3동2',
       '반여4동2', '반송1동2', '반송2동2', '반송3동2', '재송1동2', '재송2동2', '계2', '우1동3',
       '우2동3', '중1동3', '중2동3', '좌1동3', '좌2동3', '좌3동3', '좌4동3', '송정동3',
       '반여1동3', '반여2동3', '반여3동3', '반여4동3', '반송1동3', '반송2동3', '반송3동3',
       '재송1동3', '재송2동3', '계3', '우1동4', '우2동4', '중1동4', '중2동4', '좌1동4',
       '좌2동4', '좌3동4', '좌4동4', '송정동4', '반여1동4', '반여2동4', '반여3동4', '반여4동4',
       '반송1동4', '반송2동4', '반송3동4', '재송1동4', '재송2동4', '계4', '우1동5', '우2동5',
       '중1동5', '중2동5', '좌1동5', '좌2동5', '좌3동5', '좌4동5', '송정동5', '반여1동5',
       '반여2동5', '반여3동5', '반여4동5', '반송1동5', '반송2동5', '반송3동5', '재송1동5',
       '재송2동5', '계5', '우1동6', '우2동6', '중1동6', '중2동6', '좌1동6', '좌2동6',
       '좌3동6', '좌4동6', '송정동6', '반여1동6', '반여2동6', '반여3동6', '반여4동6',
       '반송1동6', '반송2동6', '반송3동6', '재송1동6', '재송2동6', '계6', '우1동7', '우2동7',
       '중1동7', '중2동7', '좌1동7', '좌2동7', '좌3동7', '좌4동7', '송정동7', '반여1동7',
       '반여2동7', '반여3동7', '반여4동7', '반송1동7', '반송2동7', '반송3동7', '재송1동7',
       '재송2동7', '계7', '우1동8', '우2동8', '중1동8', '중2동8', '좌1동8', '좌2동8',
       '좌3동8', '좌4동8', '송정동8', '반여1동8', '반여2동8', '반여3동8', '반여4동8',
       '반송1동8', '반송2동8', '반송3동8', '재송1동8', '재송2동8', '계8', '우1동9', '우2동9',
       '중1동9', '중2동9', '좌1동9', '좌2동9', '좌3동9', '좌4동9', '송정동9', '반여1동9',
       '반여2동9', '반여3동9', '반여4동9', '반송1동9', '반송2동9', '반송3동9', '재송1동9',
       '재송2동9', '계9', '우1동10', '우2동10', '중1동10', '중2동10', '좌1동10',
       '좌2동10', '좌3동10', '좌4동10', '송정동10', '반여1동10', '반여2동10', '반여3동10',
       '반여4동10', '반송1동10', '반송2동10', '반송3동10', '재송1동10', '재송2동10', '계10',
       '우1동11', '우2동11', '중1동11', '중2동11', '좌1동11', '좌2동11', '좌3동11',
       '좌4동11', '송정동11', '반여1동11', '반여2동11', '반여3동11', '반여4동11', '반송1동11',
       '반송2동11', '반송3동11', '재송1동11', '재송2동11', '계11', '우1동12', '우2동12',
       '중1동12', '중2동12', '좌1동12', '좌2동12', '좌3동12', '좌4동12', '송정동12',
       '반여1동12', '반여2동12', '반여3동12', '반여4동12', '반송1동12', '반송2동12',
       '반송3동12', '재송1동12', '재송2동12', '계12', '우1동13', '우2동13', '중1동13',
       '중2동13', '좌1동13', '좌2동13', '좌3동13', '좌4동13', '송정동13', '반여1동13',
       '반여2동13', '반여3동13', '반여4동13', '반송1동13', '반송2동13', '반송3동13',
       '재송1동13', '재송2동13', '계13', '우1동14', '우2동14', '중1동14', '중2동14',
       '좌1동14', '좌2동14', '좌3동14', '좌4동14', '송정동14', '반여1동14', '반여2동14',
       '반여3동14', '반여4동14', '반송1동14', '반송2동14', '반송3동14', '재송1동14',
       '재송2동14', '계14', '우1동15', '우2동15', '중1동15', '중2동15', '좌1동15',
       '좌2동15', '좌3동15', '좌4동15', '송정동15', '반여1동15', '반여2동15', '반여3동15',
       '반여4동15', '반송1동15', '반송2동15', '반송3동15', '재송1동15', '재송2동15', '계15',
       '우1동16', '우2동16', '중1동16', '중2동16', '좌1동16', '좌2동16', '좌3동16',
       '좌4동16', '송정동16', '반여1동16', '반여2동16', '반여3동16', '반여4동16', '반송1동16',
       '반송2동16', '반송3동16', '재송1동16', '재송2동16', '계16', '우1동17', '우2동17',
       '중1동17', '중2동17', '좌1동17', '좌2동17', '좌3동17', '좌4동17', '송정동17',
       '반여1동17', '반여2동17', '반여3동17', '반여4동17', '반송1동17', '반송2동17',
       '반송3동17', '재송1동17', '재송2동17', '계17', '우1동18', '우2동18', '중1동18',
       '중2동18', '좌1동18', '좌2동18', '좌3동18', '좌4동18', '송정동18', '반여1동18',
       '반여2동18', '반여3동18', '반여4동18', '반송1동18', '반송2동18', '반송3동18',
       '재송1동18', '재송2동18', '계18', '우1동19', '우2동19', '중1동19', '중2동19',
       '좌1동19', '좌2동19', '좌3동19', '좌4동19', '송정동19', '반여1동19', '반여2동19',
       '반여3동19', '반여4동19', '반송1동19', '반송2동19', '반송3동19', '재송1동19',
       '재송2동19', '계19', '우1동20', '우2동20', '중1동20', '중2동20', '좌1동20',
       '좌2동20', '좌3동20', '좌4동20', '송정동20', '반여1동20', '반여2동20', '반여3동20',
       '반여4동20', '반송1동20', '반송2동20', '반송3동20', '재송1동20', '재송2동20', '계20',
       '우1동21', '우2동21', '중1동21', '중2동21', '좌1동21', '좌2동21', '좌3동21',
       '좌4동21', '송정동21', '반여1동21', '반여2동21', '반여3동21', '반여4동21', '반송1동21',
       '반송2동21', '반송3동21', '재송1동21', '재송2동21', '계21', '우1동22', '우2동22',
       '중1동22', '중2동22', '좌1동22', '좌2동22', '좌3동22', '좌4동22', '송정동22',
       '반여1동22', '반여2동22', '반여3동22', '반여4동22', '반송1동22', '반송2동22',
       '반송3동22', '재송1동22', '재송2동22', '계22', '우1동23', '우2동23', '중1동23',
       '중2동23', '좌1동23', '좌2동23', '좌3동23', '좌4동23', '송정동23', '반여1동23',
       '반여2동23', '반여3동23', '반여4동23', '반송1동23', '반송2동23', '반송3동23',
       '재송1동23', '재송2동23', '계23', '우1동24', '우2동24', '중1동24', '중2동24',
       '좌1동24', '좌2동24', '좌3동24', '좌4동24', '송정동24', '반여1동24', '반여2동24',
       '반여3동24', '반여4동24', '반송1동24', '반송2동24', '반송3동24', '재송1동24',
       '재송2동24', '계24', '우1동25', '우2동25', '중1동25', '중2동25', '좌1동25',
       '좌2동25', '좌3동25', '좌4동25', '송정동25', '반여1동25', '반여2동25', '반여3동25',
       '반여4동25', '반송1동25', '반송2동25', '반송3동25', '재송1동25', '재송2동25', '계25',
       '우1동26', '우2동26', '중1동26', '중2동26', '좌1동26', '좌2동26', '좌3동26',
       '좌4동26', '송정동26', '반여1동26', '반여2동26', '반여3동26', '반여4동26', '반송1동26',
       '반송2동26', '반송3동26', '재송1동26', '재송2동26', '계26', '우1동27', '우2동27',
       '중1동27', '중2동27', '좌1동27', '좌2동27', '좌3동27', '좌4동27', '송정동27',
       '반여1동27', '반여2동27', '반여3동27', '반여4동27', '반송1동27', '반송2동27',
       '반송3동27', '재송1동27', '재송2동27', '계27', '우1동28', '우2동28', '중1동28',
       '중2동28', '좌1동28', '좌2동28', '좌3동28', '좌4동28', '송정동28', '반여1동28',
       '반여2동28', '반여3동28', '반여4동28', '반송1동28', '반송2동28', '반송3동28',
       '재송1동28', '재송2동28', '계28', '우1동29', '우2동29', '중1동29', '중2동29',
       '좌1동29', '좌2동29', '좌3동29', '좌4동29', '송정동29', '반여1동29', '반여2동29',
       '반여3동29', '반여4동29', '반송1동29', '반송2동29', '반송3동29', '재송1동29',
       '재송2동29', '계29'], dtype=object)

In [88]:
example_df.columns = new_columns
example_df.head()

,우1동1,우2동1,중1동1,중2동1,좌1동1,좌2동1,좌3동1,좌4동1,송정동1,반여1동1,...,반여1동29,반여2동29,반여3동29,반여4동29,반송1동29,반송2동29,반송3동29,재송1동29,재송2동29,계29
0시,73987,41532,42411,13277,16998,34132,9797,22796,15678,35442,...,33342,11841,7594,11224,9450,16072,6913,36867,24332,459402
1시,69798,41122,45280,14498,15336,34812,8538,19995,15727,31271,...,30579,12398,8289,10912,9872,19155,7764,39035,24604,473261
2시,75006,41107,45227,14402,20047,34626,9973,22563,13409,31521,...,28834,13783,8358,9481,7129,17687,5314,33337,25453,453630
3시,74389,34521,45152,15904,12998,35782,7906,16694,13050,44031,...,39467,15172,9503,11828,11400,18869,9574,32134,26979,487567
4시,63016,31262,42578,13734,11931,28914,7345,17756,16381,61923,...,60257,16152,10120,18575,14661,21779,9971,35890,34544,484996

* 일별 데이터가 횡방향으로 있으므로 wide_to_long 함수로 dataframe을 reshape

In [89]:
example_df['time'] = example_df.index
example_df = pd.wide_to_long(example_df, stubnames=gu, i='time',j='day')
example_df.head()

,,우1동,우2동,중1동,중2동,좌1동,좌2동,좌3동,좌4동,송정동,반여1동,반여2동,반여3동,반여4동,반송1동,반송2동,반송3동,재송1동,재송2동,계
time,day,,,,,,,,,,,,,,,,,,,
0시,1,73987,41532,42411,13277,16998,34132,9797,22796,15678,35442,12842,8216,11239,10380,18588,7593,35813,25600,436321
1시,1,69798,41122,45280,14498,15336,34812,8538,19995,15727,31271,14358,9295,10183,9087,15992,6207,36621,25305,423425
2시,1,75006,41107,45227,14402,20047,34626,9973,22563,13409,31521,13458,9572,10299,8135,16092,5417,30981,24518,426353
3시,1,74389,34521,45152,15904,12998,35782,7906,16694,13050,44031,14360,9472,12804,10876,12005,6142,29186,28233,423505
4시,1,63016,31262,42578,13734,11931,28914,7345,17756,16381,61923,16773,10368,18988,14849,17021,8248,32587,33475,447149

* time, day을 datetime로 parshing하여 index로 지정하고, 불필요한 column('time','day','계')은 drop

In [91]:
example_df = example_df.reset_index()
example_df.index = pd.to_datetime(str(download_month[0])+'-'+example_df["day"].map(str)+'-'+example_df["time"], format ="%Y-%m-%d-%H시")
example_df = example_df.drop(['time','day','계'], axis =1)
example_df.head(20)

KeyError: 'day'

In [92]:
example_df.tail(10)

,index,우1동,우2동,중1동,중2동,좌1동,좌2동,좌3동,좌4동,송정동,반여1동,반여2동,반여3동,반여4동,반송1동,반송2동,반송3동,재송1동,재송2동
686,2016-02-29 14:00:00,51547,81152,32452,9795,13614,20360,8135,21822,12485,33053,8492,4948,11254,8345,16189,5735,37643,19508
687,2016-02-29 15:00:00,49986,77996,31925,9510,13461,19878,7982,21055,12274,31394,8186,4966,10813,8005,15812,5593,36947,18751
688,2016-02-29 16:00:00,49329,75342,31176,9528,13144,20475,8256,21182,12215,33261,8632,5246,11321,8272,15173,5619,37048,19369
689,2016-02-29 17:00:00,49227,72967,30839,9200,12716,20117,8333,20395,11814,32587,8217,5180,11231,8407,15063,5869,36437,18812
690,2016-02-29 18:00:00,50821,78023,30446,8639,12455,19584,8138,20172,10836,33849,8927,5527,11526,8658,16321,5924,38091,19848
691,2016-02-29 19:00:00,52589,75453,31426,9596,13704,22032,8121,20849,11584,33831,9393,5859,11359,8434,16679,6247,37227,20283
692,2016-02-29 20:00:00,58242,70663,35313,10673,14399,23471,8254,21270,12420,34856,10134,6451,11349,8763,17902,6405,37349,21231
693,2016-02-29 21:00:00,63898,62640,36741,11317,15788,24361,8811,22483,12488,32603,10641,6665,10951,8547,17258,6232,37442,21758
694,2016-02-29 22:00:00,71376,62766,41926,12091,16328,26510,9542,23583,12873,33008,10942,6775,11074,8607,16458,6316,37543,22363
695,2016-02-29 23:00:00,78642,58437,46046,13050,16153,27877,9198,22563,14158,33753,11343,7116,11458,8930,16400,6709,36975,22963

* 전체 데이터 다운로드 및 전처리

In [104]:
df_dong = []
df_hae = []
for month in download_month:
    for gu in gu_code:
        month_int = int(''.join(str(month).split('-')))
        df = pd.read_excel(file_url.format(date=month_int, code=gu), header=2)
        
        if gu == 26260:
            df = df.drop(["평균"], axis=1)[:-13]
        elif gu == 26350:
            df = df.drop(["평균"], axis=1)[:-18]
        df = df.set_index("동별").T.iloc[1:]

        num_dong =len(set(df.columns))
        dong = df.columns[:num_dong]
        days = len(df.columns)/num_dong
        new_columns  =[np.array(dong) +str(i) for i in range(1,int(days)+1)]
        new_columns = np.concatenate(new_columns, axis=0)
        df.columns = new_columns

        df['time'] = df.index
        df = pd.wide_to_long(df, stubnames=dong, i='time',j='day')

        df = df.reset_index()
        df.index = pd.to_datetime(str(month)+'-'+df["day"].map(str)+'-'+df["time"], format ="%Y-%m-%d-%H시")
        df = df.drop(['time','day','계'], axis =1)

        #df_list.append(df)
        
        if gu == 26260:
            df_dong.append(df)
        elif gu == 26350:
            df_hae.append(df)
            
        print(month_int)
        print(gu)

201602
26260
201602
26350
201603
26260
201603
26350
201604
26260
201604
26350
201605
26260
201605
26350
201606
26260
201606
26350
201607
26260
201607
26350
201608
26260
201608
26350
201609
26260
201609
26350
201610
26260
201610
26350
201611
26260
201611
26350
201612
26260
201612
26350
201701
26260
201701
26350
201702
26260
201702
26350
201703
26260
201703
26350
201704
26260
201704
26350
201705
26260
201705
26350
201706
26260
201706
26350
201707
26260
201707
26350
201708
26260
201708
26350
201709
26260
201709
26350
201710
26260
201710
26350
201711
26260
201711
26350
201712
26260
201712
26350
201801
26260
201801
26350
201802
26260
201802
26350
201803
26260
201803
26350
201804
26260
201804
26350
201805
26260
201805
26350
201806
26260
201806
26350
201807
26260
201807
26350
201808
26260
201808
26350
201809
26260
201809
26350
201810
26260
201810
26350
201811
26260
201811
26350
201812
26260
201812
26350
201901
26260
201901
26350
201902
26260
201902
26350

In [111]:
df_total_dong = pd.concat(df_dong, axis = 0)
df_total_hae = pd.concat(df_hae, axis = 0)
data = pd.merge(df_total_dong, df_total_hae, left_index = True, right_index=True, how = "left")
#data = pd.concat(df_list, axis=0)
data

,수민동,복산동,명륜동,온천1동,온천2동,온천3동,사직1동,사직2동,사직3동,안락1동,...,송정동,반여1동,반여2동,반여3동,반여4동,반송1동,반송2동,반송3동,재송1동,재송2동
2016-02-01 00:00:00,27570,8802,31963,39644,37134,32460,10153,20734,13913,21022,...,15678,35442,12842,8216,11239,10380,18588,7593,35813,25600
2016-02-01 01:00:00,26544,8036,33233,40832,41477,34130,9666,20827,12733,19314,...,15727,31271,14358,9295,10183,9087,15992,6207,36621,25305
2016-02-01 02:00:00,24471,6599,35804,45040,39588,32778,8880,18486,12482,19740,...,13409,31521,13458,9572,10299,8135,16092,5417,30981,24518
2016-02-01 03:00:00,27136,8616,31643,46107,39381,29297,9112,17087,12224,18813,...,13050,44031,14360,9472,12804,10876,12005,6142,29186,28233
2016-02-01 04:00:00,27831,8038,26614,35036,31410,27790,7749,16105,12282,16880,...,16381,61923,16773,10368,18988,14849,17021,8248,32587,33475
2016-02-01 05:00:00,27746,7315,23495,30401,29807,28793,7718,14846,11691,19837,...,9681,62921,15264,9057,20976,16979,22947,9021,28089,29876
2016-02-01 06:00:00,25446,6808,18967,25584,25982,27277,6968,15979,11402,20035,...,10192,47981,11467,6923,15480,12391,21864,7332,31837,25086
2016-02-01 07:00:00,24899,6536,17397,23244,24861,27549,7460,21334,11772,18162,...,9744,45500,10229,6108,14832,10297,19508,6303,33094,22224
2016-02-01 08:00:00,25929,6911,18450,24273,24961,27011,7058,20937,12837,17672,...,8368,40788,8914,5315,13709,8428,16338,5331,34828,20541
2016-02-01 09:00:00,28818,7765,20445,26810,25584,26480,7643,18045,13382,19135,...,10559,37543,8795,5206,12452,8696,15183,5509,36414,20314
2016-02-01 10:00:00,30748,7862,21159,29085,26349,27393,8265,17631,14677,19855,...,10798,36204,9007,5303,12157,8879,15845,5721,37859,20658
2016-02-01 11:00:00,30279,7952,21436,29236,26146,26573,8382,17128,14755,18884,...,10765,32852,8312,4999,11151,8019,15132,5253,36110,19049
2016-02-01 12:00:00,30572,8360,22797,30122,26091,26209,8581,19541,15059,19471,...,11475,34219,8509,5197,11489,8612,15965,5753,37123,19703
2016-02-01 13:00:00,30993,8542,22821,30095,26255,26481,8975,19431,15145,19348,...,12725,33785,8726,5183,11285,8283,16361,5522,38339,20259
2016-02-01 14:00:00,31791,8625,23075,30211,26293,26418,8901,19341,15474,18801,...,12330,34780,8396,5212,11836,8227,15003,5523,37504,19540
2016-02-01 15:00:00,30519,8307,22845,29686,26417,25952,9187,19610,14729,18967,...,11394,34661,8649,5262,11657,8280,15150,5521,36405,19397
2016-02-01 16:00:00,30058,8407,22442,29745,26736,26697,9422,19989,14946,18441,...,10745,33818,8555,5208,11294,8327,14849,5486,35955,19424
2016-02-01 17:00:00,30095,8297,23454,30074,27709,27556,9969,20113,14846,19769,...,10561,34830,8827,5314,11718,8506,15954,5679,36808,19970
2016-02-01 18:00:00,30681,8087,24451,30294,27920,27617,9933,20292,14904,20760,...,10104,34958,9193,5636,11813,8753,16187,5909,37353,20324
2016-02-01 19:00:00,31392,8650,25893,32238,29374,28824,10313,22086,15369,21531,...,10057,36312,10459,6582,11966,9256,17824,6427,37567,21838
2016-02-01 20:00:00,31437,8382,27508,34236,31406,30888,10854,24889,15540,22422,...,11898,38714,11696,7207,12739,9711,19241,6797,39557,24039
2016-02-01 21:00:00,34191,9502,30501,38125,33550,31922,11340,27437,16042,23932,...,12809,39924,11736,7217,13617,9852,21018,7273,40614,24544
2016-02-01 22:00:00,34458,9004,33063,40490,36152,34720,12094,27625,16873,24293,...,12941,41140,13488,8559,13106,9814,20497,6951,42501,26539
2016-02-01 23:00:00,33700,8613,34907,45446,39705,37602,11949,30502,16962,24781,...,13614,41627,13803,8380,13618,10076,19377,7078,44829,28795
2016-02-02 00:00:00,32099,9365,34816,45465,38546,34431,10666,23902,15958,21860,...,14138,35659,12038,7456,12148,8831,16564,5832,38681,24915
2016-02-02 01:00:00,31106,8835,37419,52080,43330,36198,10255,20883,14164,21246,...,10757,32810,11578,7610,10350,8249,16998,5948,35289,24168
2016-02-02 02:00:00,29228,8412,37097,56522,45113,35970,9086,19593,14138,20438,...,13875,29202,11760,7206,9564,7543,10625,4923,36971,24701
2016-02-02 03:00:00,31415,8102,33420,57511,40757,35071,6930,15805,13737,22064,...,12288,46785,14826,9601,14738,9822,16672,5810,37720,28611
2016-02-02 04:00:00,26939,6448,27923,47385,38556,31655,7275,14734,12144,19693,...,13810,62219,15583,9040,19716,13903,16912,7229,34322,32832
2016-02-02 05:00:00,24853,8183,24130,33402,30446,29993,6537,13558,12543,17713,...,8779,61765,15278,9012,19661,14885,24147,8445,29551,30895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-02-27 18:00:00,32382,5826,29047,34658,26061,29037,12626,20555,13010,13798,...,14721,26972,3931,3124,7219,13147,8814,2057,36046,17867
2019-02-27 19:00:00,33595,5724,28093,36647,24558,29297,13481,23115,13308,12908,...,16002,24179,4354,3542,5994,9743,8877,2160,37627,20945
2019-02-27 20:00:00,33964,6068,28292,36880,23686,29018,12481,23228,12668,13545,...,16009,25089,4714,3995,6065,9865,9560,1770,37701,22666
2019-02-27 21:00:00,34578,5744,28387,36293,24307,32783,13155,22618,13410,13324,...,15203,25217,4480,3864,6004,10091,9189,2149,39614,24105
2019-02-27 22:00:00,33524,6487,28419,39688,24567,32303,11728,24398,12894,13453,...,15689,25951,4592,4536,5888,8773,8361,1992,40240,24741
2019-02-27 23:00:00,34001,6364,28630,42039,23570,31872,11673,22995,12160,12345,...,13486,24297,4446,5217,6319,8518,9131,2044,40914,28065
2019-02-28 00:00:00,32627,6165,25318,45403,20378,29540,10719,21553,12501,11436,...,14431,23812,5130,4846,5802,7393,8759,1439,43718,30959
2019-02-28 01:00:00,28720,5231,21735,44782,17503,28323,9485,19618,10985,9170,...,11843,22235,5518,5291,5921,8761,7345,1334,41233,34485
2019-02-28 02:00:00,29536,6255,21075,44422,17268,25421,9285,16380,9817,8398,...,12262,22547,6238,5654,6100,8961,7828,1536,42777,32672
2019-02-28 03:00:00,28284,5983,18471,44684,16272,23578,8064,13922,9591,10065,...,8649,28732,5282,5454,7060,14657,7725,1556,40434,35450
2019-02-28 04:00:00,26937,6301,18226,39389,16622,23689,7762,13108,10865,12248,...,10300,27057,6168,6403,6926,18752,10062,2005,36947,31087
2019-02-28 05:00:00,28877,5248,18359,32712,25460,31827,8292,11695,10869,9943,...,11547,25961,3936,3644,6789,18146,7700,1631,30344,19543
2019-02-28 06:00:00,24523,3825,16498,28173,21949,26620,6216,8809,9414,9194,...,11064,25134,2890,2496,7103,17076,6604,1505,27199,15440
2019-02-28 07:00:00,26091,3770,18392,26473,22945,27799,7305,9632,11225,11658,...,12382,25805,2601,1837,7518,17552,6238,1628,37822,14519
2019-02-28 08:00:00,32053,5377,22199,30650,24773,28546,8613,12163,11791,12384,...,12360,23487,2859,2314,6892,13870,6556,1937,43607,15897
2019-02-28 09:00:00,34398,5700,22234,32068,26056,27757,9759,13824,13329,12691,...,14226,23588,3241,2392,6572,13142,6303,1644,39660,16508
2019-02-28 10:00:00,33564,5813,22213,31589,25144,27503,9953,15360,11918,11358,...,17144,22320,3319,2648,6134,12539,7141,1708,35973,16245
2019-02-28 11:00:00,33417,5655,23230,30890,24193,25012,10774,15636,11591,10939,...,18079,23224,3026,2551,6434,13570,6923,1802,35862,15439
2019-02-28 12:00:00,32522,5702,23806,32109,23478,24448,10600,15845,12859,10695,...,19776,20342,3160,2602,5811,12791,7044,1802,34726,15433
2019-02-28 13:00:00,33178,5891,25449,31970,24417,25640,10557,16660,12267,11321,...,21043,21933,3506,2831,6265,12742,7339,1895,36243,15639
2019-02-28 14:00:00,34368,6192,25611,31614,26600,26211,11371,17570,12791,11171,...,20274,22803,3413,2818,6548,13188,7461,1702,36636,16157
2019-02-28 15:00:00,35473,5935,25822,32818,25233,26860,10425,16801,12813,11989,...,19707,24977,3667,2865,6473,12865,7723,1749,36961,16244
2019-02-28 16:00:00,36855,6284,25918,33359,26894,29360,11322,17524,13064,12618,...,18529,25694,3986,2907,7231,13787,8457,2228,37808,16218
2019-02-28 17:00:00,34065,5733,26555,33372,29750,30240,11121,17557,12993,13392,...,16718,26975,3857,2807,7367,13745,8923,1940,35468,16090
2019-02-28 18:00:00,32804,5259,29491,33972,27633,29007,11854,19124,12446,13158,...,17463,27823,3616,3157,6945,14700,9183,1994,36510,17341
2019-02-28 19:00:00,32741,5472,29557,35102,25347,29485,11725,21095,12346,12834,...,16209,26658,3961,3288,7006,11264,7883,1653,38911,19010
2019-02-28 20:00:00,34784,5783,29660,36776,24590,30100,11963,21547,11653,13495,...,19000,25337,4113,3425,5729,9695,9183,1909,40585,20671
2019-02-28 21:00:00,34263,5513,30533,36953,25197,31315,12387,24208,12637,13079,...,18500,26827,4830,3845,6295,9573,8785,1953,38800,22839
2019-02-28 22:00:00,34361,5966,28270,38802,23817,30785,11912,23544,12357,13331,...,20218,26634,4860,4329,6601,9419,8008,1724,41033,24416
2019-02-28 23:00:00,35599,6483,27628,41854,22916,30990,11176,22605,12186,13304,...,19892,24921,5430,4151,6162,8471,8898,1974,41400,26523

In [112]:
data.to_csv('./data.csv')